# ### Rules intended for ``pre-commit``'s ``prettier``

# do not touch the Jinja2 templates
theme/mischback/*.html

# ### Rules intended for using ``prettier`` during the build

# do not touch ``pygments.css`` (that file is not provided by our codebase)
.build/_static/pygments.css

# do not touch ``Sphinx``'s ``searchindex.js`` (that file is not provided by
# our codebase)
.build/searchindex.js
