@font-face {
  font-family: "dejavu_sans";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/DejaVuSans_regular.woff");
}

@font-face {
  font-family: "dejavu_sans_bold";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/DejaVuSans_bold.woff");
}
