/* Theme-specific fonts are set up here. */

/* The design's main font.
 *
 * "Mona Sans" is a brand new font made by GitHub. It is a variable font with
 * adjustable weight and width, including italic variations.
 *
 * It will be used for text bodies, headlines and the main navigation.
 */
@font-face {
  font-family: "Mona Sans";
  font-stretch: 75% 125%;
  font-weight: 200 900;
  src: url("fonts/MonaSans.woff2") format("woff2 supports variations"),
    url("fonts/MonaSans.woff2") format("woff2-variations");
}
