/* General settings.
 *
 * This file does provide global settings that may be picked up in different
 * more specific blocks.
 */

/* ****************************************************************************
 * Breakpoints
 *
 * These are the breakpoints that are used to make the layout work on any
 * screen sizes.
 */

/* At this point the desired layout covers the whole width of the viewport. */
$break-layout-full-width: 1280px;

/* At this point the layout switches to a single column. */
$break-layout-single-column: 1220px;

/* At this point the header icons must be moved inside. */
$break-layout-header-icons: 840px;

/* At this point the actual content starts to shrink. */
$break-layout-shrink-content: 790px;

/* At this point the default navigation is *burgerized*. */
$break-layout-burger-navigation: 565px;

/* ****************************************************************************
 * Overall coherent visual style
 *
 * These settings are applied in various places throughout the stylesheet, but
 * have to be coherent/consistent.
 */

/* This is the default radius of containers' borders. */
$default-border-radius: 5px;

/* The <article> container's width. This has a significant effect on the
 * layout's line-length, see ``layouts/article.scss``.
 */
$max-article-width: 44rem;

/* ****************************************************************************
 * Colors
 *
 * These are semantic colors, meaning they describe in which context that color
 * is used.
 *
 * TODO: related to #28 - Move the actual color definitions (``rgb()``) to a
 *       file ``colors.scss``.
 */
$color-document-bg: $color-medium-grey-base;
$color-primary-fg: $color-dark-grey-base;
$color-primary-bg: $color-light-grey-base;
$color-default-box-shadow-outside: $color-dark-grey-lighter;
$color-headline-gradient-bottom: $color-steelblue-darker;
$color-headline-gradient-top: $color-steelblue-lighter;

/* FIXME: #28
 *
 * These are still old!
 */
$color-primary-inverted-fg: $color-unstyled;
$color-primary-inverted-bg: $color-unstyled;
$color-secondary-fg: $color-unstyled;
$color-dev-border: $color-unstyled;
$color-dev-highlight: $color-unstyled;
$color-admonition-note-bg: $color-unstyled;
$color-admonition-important-bg: $color-unstyled;
$color-headlines: $color-unstyled;
$color-headlines-permalink: $color-unstyled;
$color-hyperlinks-normal: $color-unstyled;
$color-hyperlinks-hover: $color-unstyled;
$color-hyperlinks-visited: $color-unstyled;

/* Animation timings
 *
 * Some animations should use common and coherent timings, other may be highly
 * dependent on the animated item/object.
 */
$animation-timing-color-transition: 150ms;
