/* General settings.
 *
 * This file does provide global settings that may be picked up in different
 * more specific blocks.
 */

/* ****************************************************************************
 * Breakpoints
 *
 * These are the breakpoints that are used to make the layout work on any
 * screen sizes.
 */

/* At this point the desired layout covers the whole width of the viewport. */
$break-layout-full-width: 1280px;

/* At this point the layout switches to a single column. */
$break-layout-single-column: 1220px;

/* At this point the header icons must be moved inside. */
$break-layout-header-icons: 840px;

/* At this point the actual content starts to shrink. */
$break-layout-shrink-content: 790px;

/* At this point the default navigation is *burgerized*. */
$break-layout-burger-navigation: 565px;

/* ****************************************************************************
 * Overall coherent visual style
 *
 * These settings are applied in various places throughout the stylesheet, but
 * have to be coherent/consistent.
 */

/* This is the default radius of containers' borders. */
$default-border-radius: 5px;

/* The <article> container's width. This has a significant effect on the
 * layout's line-length, see ``layouts/article.scss``.
 */
$max-article-width: 44rem;

/* ****************************************************************************
 * Colors
 *
 * These are semantic colors, meaning they describe in which context that color
 * is used.
 */
$color-document-bg: $color-ocher-base;
$color-primary-fg: $color-brown-lighter;
$color-primary-bg: $color-ocher-lightest;
$color-default-box-shadow-outside: $color-brown-darker;
$color-header-gradient-bottom: $color-brown-darker;
$color-header-gradient-top: $color-brown-lighter;
$color-header-fg-big: $color-ocher-base;
$color-header-fg: $color-ocher-base;
$color-header-breadcrumbs-normal: $color-matcha-base;
$color-header-breadcrumbs-hover: $color-burntorange-lightest;
$color-body-breadcrumbs-normal: $color-brown-lightest;
$color-body-breadcrumbs-hover: $color-darkred-base;
$color-headlines: $color-darkmatcha-lighter;
$color-headlines-permalink: $color-matcha-base;
$color-hyperlinks-normal: $color-darkmatcha-base;
$color-hyperlinks-hover: $color-darkred-base;
$color-hyperlinks-visited: $color-burntorange-base;
$color-admonition-border: $color-ocher-darkest;
$color-admonition-fg: $color-brown-darker;
$color-admonition-note-bg: $color-matcha-lighter;
$color-admonition-note-caption: $color-darkmatcha-base;
$color-admonition-important-bg: $color-burntorange-lightest;
$color-admonition-important-caption: $color-burntorange-darkest;
$color-blockquote-secondary-fg: $color-brown-lightest;
$color-image-inner-border: $color-ocher-lightest;
$color-image-outer-border: $color-ocher-darkest;
$color-header-navigation-hyperlink-normal: $color-matcha-base;
$color-header-navigation-hyperlink-hover: $color-burntorange-lightest;
$color-footer-gradient-bottom: $color-darkmatcha-darker;
$color-footer-gradient-top: $color-darkmatcha-base;
$color-footer-fg: $color-matcha-lightest;
$color-footer-hyperlink-normal: $color-footer-fg;
$color-footer-hyperlink-hover: $color-burntorange-lightest;
$color-tags-border: $color-ocher-darkest;
$color-tags-bg: $color-matcha-lighter;
$color-tags-fg: $color-matcha-darkest;
$color-tags-hover-bg: $color-burntorange-lightest;
$color-tags-hover-fg: $color-darkred-base;

/* Animation timings
 *
 * Some animations should use common and coherent timings, other may be highly
 * dependent on the animated item/object.
 */
$animation-timing-color-transition: 150ms;
