/* Vertical spacing has a direct effect on readability and might provide a
 * visual representation of the semantic structure of the content.
 *
 * Ref: https://typographyhandbook.com/#vertical-spacing
 */

/* The *line-height* is highly dependent on the actual font face.
 *
 * Let's keep track of the actual required / desired line heights here:
 *   - Mona Lisa: 1.5
 */
$text-content-line-height: 1.5;

/* The font size of the actual content should be controlled by the
 * ``font-size`` of the root ``<html>`` element.
 */
$text-content-font-size: 1rem;

/* prettier-ignore */
$text-content-vertical-rhythm: $text-content-line-height * $text-content-font-size * 0.5;
