/* The default layout consists of two columns. One of these is an ``<aside>``
 * container, which holds several boxes for additional content.
 */

aside {
  section {
    @include content-box-visual;

    margin-bottom: 2em;
    font-size: 0.9em;

    @include for-breakpoint(layout-single-column) {
      margin-bottom: 3rem;
    }

    /* stylelint-disable max-nesting-depth */
    > header {
      font-size: 1.2em;
      font-weight: 500;
    }
    /* stylelint-enable max-nesting-depth */
  }

  .article-meta {
    /* stylelint-disable max-nesting-depth */
    ul {
      @include reset-list;

      padding: 0.5em 0.5em 0.25em;
      text-indent: 0;

      /* stylelint-disable selector-max-compound-selectors */
      li {
        margin-bottom: 0.25em;
      }
      /* stylelint-enable selector-max-compound-selectors */
    }
    /* stylelint-enable max-nesting-depth */
  }

  .article-tags {
    /* stylelint-disable max-nesting-depth */
    ul {
      @include horizontal-list;

      margin: 0;
      padding: 0.25em 0.5em;
      text-indent: 0;

      /* stylelint-disable selector-max-compound-selectors */
      li {
        a {
          /* TODO: Style this!
           *
           * The general styling is delayed until #28 is completed.
           */
          display: inline-block;
          margin: 0.5em 0.25em 0.25em 0;
          padding: 0.25em 0.5em;
          transition: color $animation-timing-color-transition,
            background-color $animation-timing-color-transition;
          border-radius: 0.4em;

          /* FIXME: #28
           *
           * was rgb(255 192 0)
           */
          background-color: $color-unstyled;

          /* FIXME: #28
           *
           * first: rgb(128 96 0)
           * second: #333
           */
          box-shadow: 0 0 1px $color-unstyled, 1px 1px 2px 1px $color-unstyled;

          /* FIXME: #28
           *
           * was rgb(128 96 0)
           */
          color: $color-unstyled;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            /* FIXME: #28
             * first: rgb(175 255 0)
             * second: rgb(20 50 0)
             */
            background-color: $color-unstyled;
            color: $color-unstyled;
          }
        }
      }
      /* stylelint-enable selector-max-compound-selectors */
    }
    /* stylelint-enable max-nesting-depth */
  }
}
