/* The default layout consists of two columns. One of these is an ``<aside>``
 * container, which holds several boxes for additional content.
 */

aside section {
  @include content-box-visual;

  margin-bottom: 3em;
  font-size: 0.9em;

  @include for-breakpoint(layout-single-column) {
    margin-bottom: 2rem;
  }

  > header {
    font-size: 1.2em;
    font-weight: 500;
  }
}
