/* The default layout consists of two columns. One of these is an ``<aside>``
 * container, which holds several boxes for additional content.
 */

aside section {
  margin-bottom: 3em;

  /* FIXME: This will be fixed with a coherent style later! */
  border: 1px solid #000;
  font-size: 0.9em;

  header {
    /* FIXME: This will be fixed with a coherent style later! */
    border-bottom: 1px solid #c00;
    font-family: "dejavu_sans_bold", Verdana, "Droid Sans", sans-serif;
    font-size: 1.1em;
    font-weight: normal;
  }
}
