/* stylelint-disable max-nesting-depth, selector-max-id, selector-max-compound-selectors */
body > footer {
  @include content-box-shadow;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(min(25em, 100%)), 1fr));
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  /* FIXME: #28
   *
   * first: #0f0f0f
   * second: #636363
   */
  background-image: linear-gradient(to top, $color-unstyled, $color-unstyled);

  /* FIXME: #28
   *
   * was: #ddd
   */
  color: $color-unstyled;
  font-size: 0.9rem;

  @include for-breakpoint(layout-full-width) {
    /* These margins *should* be synchronized with the ``content-box-shadow``
     * mixin (see ``abstracts/content_box.scss``).
     */
    margin-right: 10px;
    margin-left: 5px;
    border-top-left-radius: $default-border-radius * 2;
    border-top-right-radius: $default-border-radius * 2;
  }

  a {
    /* FIXME: #28
     *
     * was: #e00
     */
    color: $color-unstyled;
  }

  .nav-list {
    li a {
      margin-bottom: 0.25em;
    }

    li:last-child a {
      margin-bottom: 0;
    }
  }

  #administrative-footer,
  #nav-footer {
    padding: 0.5em 0.25em 0 0.5em;
  }

  #copyright-footer {
    position: relative;
    grid-column: -1 / 1;
    margin-bottom: 0.5em;
    padding-right: 4.5em;
    font-size: 0.8em;
    font-weight: normal;
    text-align: right;

    svg {
      position: absolute;
      top: -0.5em;
      right: 0;
      width: 4em;
      height: 2em;
    }
  }

  #technical-footer {
    padding: 0.5em 0.5em 1em;

    p {
      font-size: 0.9rem;
    }
  }
}
/* stylelint-enable max-nesting-depth, selector-max-id, selector-max-compound-selectors */
