body > header {
  position: relative;
  height: 2em;

  /* prettier-ignore */
  margin: $text-content-vertical-rhythm * 2
    0
    $text-content-vertical-rhythm * 3
    1.5rem;

  /* just provide some space for the logo */
  padding-left: 5em;

  /* Requires synchronization with the following element! */

  /* prettier-ignore */
  border-radius: $default-border-radius * 5
    0
    0
    $default-border-radius * 5;
  background-image: linear-gradient(
    to top,
    $color-headline-gradient-bottom,
    $color-headline-gradient-top
  );

  /* FIXME: #28
   *        Using black/white as shadow/highlight colors should be working,
   *        but the alpha value should be adjustable!
   *        Keep in mind that this might be dependent on the background's
   *        color, so this might be a mixin with two or even three parameters
   *        to control the alphas.
   *
   * Note: This ``box-shadow`` combines the ``box-shadow`` settings of the
   *       ``content-box-visual`` mixin, meaning the *outer* shadows of the
   *       actual box are merged with the *inner* shadows of the box's header
   *       element!
   */
  // FIXME: #38; both were #333
  box-shadow: inset 1px 1px 9px rgb(255 255 255 / 40%),
    inset -1px -1px 9px rgb(0 0 0 / 20%),
    0 0 1px 2px $color-default-box-shadow-outside,
    5px 5px 2px 0 $color-default-box-shadow-outside;
  font-size: 1rem;

  @include for-breakpoint(layout-burger-nav) {
    /* This is for the full navigation. */
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
  }

  @include for-breakpoint(layout-full-width) {
    margin-right: 10px;
    border-top-right-radius: $default-border-radius;
    border-bottom-right-radius: $default-border-radius;
  }

  /* The website's main logo.
   *
   * The logo is provided as a SVG, enclosed in an ``<a>`` tag, which links to
   * the homepage / root document.
   */
  .logo {
    display: block;
    position: absolute;
    z-index: 1001;
    top: -0.8rem;
    left: -1.25rem;
    width: 5.5em;
    height: 2.5em;

    /* stylelint-disable max-nesting-depth, selector-max-compound-selectors */
    svg {
      width: 100%;
      height: 100%;
      filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 25%));
    }
    /* stylelint-enable max-nesting-depth, selector-max-compound-selectors */
  }

  /* Everything below this point is related to the website's main navigation!
   *
   * This includes the default navigation aswell as its responsive counterpart.
   */

  .menu-toggle {
    display: inline-block;
    width: 1.75em;
    height: 1.75em;
    margin-top: 0.1em;
    border-radius: 1em;

    @include for-breakpoint(layout-burger-nav) {
      /* This is for the full navigation. */
      display: none;
    }

    /* stylelint-disable max-nesting-depth, selector-max-compound-selectors */
    svg {
      width: 1.2em;
      height: 1.2em;
      margin: 0.25em;
    }
    /* stylelint-enable selector-max-compound-selectors */

    &:hover {
      /* FIXME: #28
       *
       * was: #ccc
       */
      background-color: $color-unstyled;
      box-shadow: inset 0 0 2px 1px rgb(0 0 0 / 40%);
    }
    /* stylelint-enable max-nesting-depth */
  }

  /* stylelint-disable selector-max-compound-selectors */
  nav {
    display: none;
    position: absolute;
    z-index: 999;
    top: 4rem;
    left: -100vw;
    margin: 0;
    overflow-x: visible;
    overflow-y: scroll;

    @include for-breakpoint(layout-burger-nav) {
      /* This is for the full navigation. */
      display: block;
      position: relative;
      top: auto;
      left: auto;
      height: auto;
      overflow: auto;
    }

    /* TODO: Animation? */

    /* stylelint-disable max-nesting-depth */
    .menu-close {
      display: inline-block;

      @include for-breakpoint(layout-burger-nav) {
        /* This is for the full navigation. */
        display: none;
      }
    }
    /* stylelint-enable max-nesting-depth */

    /* stylelint-disable max-nesting-depth */
    .nav-list {
      margin-left: 1em;
      font-size: 1.2em;

      @include for-breakpoint(layout-burger-nav) {
        /* This is for the full navigation. */
        @include horizontal-list;

        font-size: 1em;
      }

      li {
        margin-bottom: 1em;

        @include for-breakpoint(layout-burger-nav) {
          margin-bottom: 0;
        }

        a {
          padding: 0 0.5em;

          /* FIXME: #28
           *
           * was: #c00
           */
          color: $color-unstyled;
          font-weight: bold;
          text-decoration: none;
          text-shadow: 0.025rem 0.025rem 0.025rem rgb(0 0 0 / 100%),
            0.025rem 0.05rem 0.025rem rgb(0 0 0 / 100%),
            0.025rem 0.075rem 0.025rem rgb(0 0 0 / 100%),
            0.025rem 0.1rem 0.025rem rgb(0 0 0 / 100%);

          &:focus,
          &:hover {
            /* FIXME: #28
             *
             * was: #0c0
             */
            color: $color-unstyled;
          }
        }
      }
    }

    /* stylelint-disable selector-no-qualifying-type */
    &:target,
    &[aria-expanded="true"] {
      display: block;
      position: fixed;
      left: 0;
      width: 100vw;

      .menu-close {
        position: absolute;
        z-index: 1001;
        top: 0.25em;
        right: 0.5em;
        width: 2em;
        height: 2em;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      + .menu-backdrop {
        display: block;
        position: fixed;
        z-index: 998;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        /* FIXME: #49
         *
         * This is related to #28 aswell, as the final colors will influence
         * the actual color.
         *
         * The idea: Have a slightly transparent backdrop with a fully opaque
         * navigation menu.
         */
        background-color: rgb(0 0 0 / 95%);
        cursor: default;
      }

      .nav-list {
        position: relative;
        z-index: 1000;
        margin-top: 2em;
      }
    }
    /* stylelint-enable max-nesting-depth, selector-no-qualifying-type */
  }
  /* stylelint-enable selector-max-compound-selectors */
}
