/* These settings are applied to all SVG-based icons. */
.svg-icon use {
  --outline-color: rgb(0 0 0);
  --outline-width: 1;
  --color-one: #f0c;
  --color-two: #f0c;
  --color-three: #f0c;
  --color-four: #f0c;
  --color-five: #f0c;
  --color-six: #f0c;
  --detail-stroke-width: 1;

  stroke-linecap: round;
  stroke-dasharray: none;
  fill-opacity: 1;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
}

.icon-logo use {
  --color-one: #af281e;
  --color-two: #672425;
  --color-three: #6b2227;
  --color-four: #563947;
  --color-five: #b34841;
  --outline-width: 10;
}

.icon-contact use {
  --color-one: #ffe81d;
  --color-two: #968a19;
  --outline-width: 10;
}

.icon-development use {
  --color-one: #afafaf;
  --color-two: #606060;
  --color-three: #838383;
  --outline-width: 20;
}

.icon-home use {
  --color-one: #deaa87;
  --color-two: #c83737;
  --color-three: #782121;
  --color-four: #004d00;
  --color-five: #171717;
  --outline-width: 12;
}

.icon-menu use {
  --color-one: #ad3a32;
  --color-two: #6b2227;
  --color-three: #b34841;
  --color-four: #563947;
  --outline-width: 15;
}

.icon-meta use {
  --color-one: #b4b1ab;
  --color-two: #dddcd6;
  --color-three: #fffdf3;
  --color-four: #f0e7a6;
  --color-five: #b5b5b5;
  --color-six: #f4efc8;
  --outline-width: 15;
  --detail-stroke-width: 4;
}

.icon-misc use {
  --color-one: #b2bdc9;
  --color-two: #5881ae;
  --color-three: #dfefff;
  --outline-width: 10;
}

.icon-privacy use {
  --color-one: #00db0e;
  --color-two: #1b4fff;
  --color-three: #1f7824;
  --color-four: #7cf782;
  --outline-width: 15;
  --detail-stroke-width: 10;
}

/* Quotes
 *
 * This icon is applied in the following locations:
 *   - ``<aside>`` -> *tubhrq* box
 */
.icon-quote {
  /* FIXME: #42 */
  --primary-color: #fff;
  --stroke-color: #333;
  --stroke-width: 5%;
}

/* Series
 *
 * This icon is applied in the following locations:
 *   - ``<aside>`` -> *Also in this series* box
 */
.icon-series {
  /* FIXME: This icon needs size adjustments in the actual aside box! */

  /* FIXME: #42 */
  --first-color: #c00;
  --second-color: #fc0;
  --third-color: #aaf;
  --stroke-color: #0a0a0a;
  --stroke-width: 3%;
}

/* This class is applied to all icons that decorate headers. */
.header-icon {
  /* FIXME: #42 Keep the black but make the alpha channel adjustable!
   *
   * TODO: Is this the correct position or should it be provided in the header
   *       component?
   */
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 40%));
}
