/* These settings are applied to all SVG-based icons. */
.svg-icon use {
  --outline-color: rgb(0 0 0);
  --outline-width: 1;
  --color-one: #f0c;
  --color-two: #f0c;
  --color-three: #f0c;
  --color-four: #f0c;
  --color-five: #f0c;

  stroke-linecap: round;
  stroke-dasharray: none;
  fill-opacity: 1;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
}

.icon-logo use {
  --color-one: #af281e;
  --color-two: #672425;
  --color-three: #6b2227;
  --color-four: #563947;
  --color-five: #b34841;
  --outline-width: 10;
}

.icon-development use {
  --color-one: #afafaf; // #afafaf
  --color-two: #606060; // #606060
  --color-three: #838383; // #838383
  --outline-width: 20; // 20
}

/* Quotes
 *
 * This icon is applied in the following locations:
 *   - ``<aside>`` -> *tubhrq* box
 */
.icon-quote {
  /* FIXME: #42 */
  --primary-color: #fff;
  --stroke-color: #333;
  --stroke-width: 5%;
}

/* Series
 *
 * This icon is applied in the following locations:
 *   - ``<aside>`` -> *Also in this series* box
 */
.icon-series {
  /* FIXME: This icon needs size adjustments in the actual aside box! */

  /* FIXME: #42 */
  --first-color: #c00;
  --second-color: #fc0;
  --third-color: #aaf;
  --stroke-color: #0a0a0a;
  --stroke-width: 3%;
}

/* This class is applied to all icons that decorate headers. */
.header-icon {
  /* FIXME: #42 Keep the black but make the alpha channel adjustable!
   *
   * TODO: Is this the correct position or should it be provided in the header
   *       component?
   */
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 40%));
}
