a {
  transition: color $animation-timing-color-transition,
    text-decoration-color $animation-timing-color-transition,
    text-underline-offset 300ms;
  color: $color-hyperlinks-normal;
  text-decoration: underline currentcolor solid 0.1em;
  text-underline-offset: 0.15em;

  &:visited {
    color: $color-hyperlinks-visited;
  }

  &:hover {
    color: $color-hyperlinks-hover;
    text-decoration-color: $color-hyperlinks-hover;
    text-underline-offset: 0.35em;
  }
}
