{% extends "layout.html" %}

{% block main_container %}
<main class="main-article">
  <article>
    <div>
      {% include "breadcrumbs.html" %}
    </div>
    {{ body }}
    {% include "breadcrumbs.html" %}
  </article>

  <aside>
    {% if meta.published %} {% include "aside_meta.html" %} {% endif %}
    <section class="article-series">
      <header>
        <svg class="icon-series header-icon" aria-hidden="true" focusable="false">
          <use xlink:href="{{ pathto("_static/icons/sprite.svg", 1) }}#icon-series" />
        </svg>
        Also in this series
      </header>
      <ul>
        <li><a href="#">Another article</a></li>
        <li><a href="#">And another article</a></li>
      </ul>
    </section>
    {% if ct_document_tags %} {% include "aside_tags.html" %} {% endif %}
    {% if meta.tubhrq %} {% include "aside_tubhrq.html" %} {% endif %}
  </aside>
</main>
{% endblock main_container %}
