{% extends "layout.html" %}

{% block main_container %}
<main class="main-article">
  <article>
    <div>
      {% include "breadcrumbs.html" %}
    </div>
    {{ body }}
    {% include "breadcrumbs.html" %}
  </article>

  <aside>
    <section class="article-series">
      <header>
        <svg class="icon-series header-icon" aria-hidden="true" focusable="false">
          <use xlink:href="{{ pathto("_static/icons/sprite.svg", 1) }}#icon-series" />
        </svg>
        Also in this series
      </header>
      <ul>
        <li><a href="#">Another article</a></li>
        <li><a href="#">And another article</a></li>
      </ul>
    </section>
    {% if ct_document_tags %}
    <section class="article-tags">
      <header>
        <svg class="icon-tags header-icon" aria-hidden="true" focusable="false">
          <use xlink:href="{{ pathto("_static/icons/sprite.svg", 1) }}#icon-tags" />
        </svg>
        Tags
      </header>
      <ul>
        {% for tag in ct_document_tags -%}
        <li><a href="{{ pathto(tag.pagename) }}">{{ tag.name }}</a></li>
        {% endfor %}
      </ul>
    </section>
    {% endif %}
    {% if meta.tubhrq %}
    <section>
      <header>
        <svg class="icon-quote header-icon" aria-hidden="true" focusable="false">
          <use xlink:href="{{ pathto("_static/icons/sprite.svg", 1) }}#icon-quote" />
        </svg>
        tubhrq</header>
      <blockquote>
        <div>
          <p>{{ meta.tubhrq }}</p>
          <p class="attribution">
            {% if meta.tubhrq_origin %}
            {{ meta.tubhrq_origin }}
            {% else %}
            unknown
            {% endif %}
          </p>
        </div>
      </blockquote>
    </section>
    {% endif %}
  </aside>
</main>
{% endblock main_container %}
