{% extends "base.html" %}

{% block html_body %}
<div>
  <header>
    <svg>
      <use xlink:href="/_static/icons/sprite.svg#logo-foot" />
    </svg>
    <nav>
      {% include "nav_primary_list.html" %}
    </nav>
  </header>

  {% block main_container required %}
    {# The *extending template file* **must provide** the ``<main>`` container
       around this block's content.
    #}
  {% endblock main_container %}

  <footer>
    <nav id="nav-footer">
      {% include "nav_primary_list.html" %}
    </nav>
    <nav id="administrative-footer">
      <ul>
        <li><a href="{{ pathto("contact") }}">Contact</a> / <a href="{{ pathto("kontakt") }}">Kontakt</a></li>
        <li><a href="{{ pathto("privacy") }}">Privacy</a> / <a href="{{ pathto("datenschutz") }}">Datenschutz</a></li>
        <li><a href="{{ pathto("sitemap") }}">Sitemap</a></li>
      </ul>
    </nav>
    <aside id="technical-footer">
      <p>This website is powered by coffee, imagination, geekiness and more coffee. If you're interested in the more juicy technical details, have a look at <a href="{{ pathto("technical-implementation") }}">the technical implementation</a>.</p>
    </aside>
    {# djlint:off

       djLint's rule H023 prohibits most HTML entities. There is no real reason
       given in the docs, probably readability. Some entities are allowed, e.g.
       all those to use HTML's special characters (like angel brackets).

       For reference: ``&copy;`` is the copyright symbol (a ``c`` in a circle).
    #}
    <div id="copyright-footer">&copy; 2022 by Mischback</div>
    {# djlint:on #}
  </footer>
</div><!-- end #layout-container -->
{% endblock html_body %}
