{% extends "layout.html" %}

{% block main_container %}
<main class="main-tags">
  <article>
    <div>
      {% if theme_show_breadcrumbs %}
      <nav class="breadcrumbs" aria-label="Top Breadcrumbs">
        <ul>
          <li><a href="{{ pathto("index") }}">Home</a></li>
        </ul>
      </nav>
      {% endif %}
    </div>
  {% if ct_tags %}
  <section>
    <h1>Tags</h1>
    <p>The articles were tagged with the following tags:</p>
    <ul>
      {% for tag in ct_tags -%}
      <li><a href="{{ pathto(ct_tags[tag].pagename) }}">{{ tag }} ({{ ct_tags[tag].doc_count }}) </a></li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
  </article>
</main>
{% endblock main_container %}
