body > div:first-of-type > header {
  display: grid;
  position: relative;
  grid-template-columns: 5em 1fr;
  align-items: baseline;
  margin-bottom: 10px;
  padding: 0.1em 0 0.25em;
  font-size: 0.9rem;

  /* stylelint-disable selector-max-compound-selectors */
  svg {
    --primary-color: rgb(192, 0, 0);
    --stroke-width: 3%;

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 5em;
    height: 2.5em;
  }

  nav {
    display: grid;
    grid-column: 2 / -1;

    /* stylelint-disable max-nesting-depth */
    ul {
      @include horizontal-list;

      text-indent: 0;

      li {
        border-right: 0.1em solid #c00;

        a {
          display: block;
          padding: 0.25em 0.5em;
          color: #c00;
          font-weight: bold;
          text-decoration: none;

          &:focus,
          &:hover {
            color: #0c0;
          }
        }
      }
    }
    /* stylelint-enable max-nesting-depth */
  }
  /* stylelint-enable selector-max-compound-selectors */
}
