/* Provide basic typography-related settings to widely used common elements.
 *
 * These rules only control the font styling (including ``em``-based sizes)
 * and overall ``margin`` / ``padding`` settings.
 *
 * Colors should be applied while styling the containing elements in the
 * context of the layout. A default text ``color`` is provided for the ``body``
 * element.
 */

body {
  color: #000;
  font-family: "dejavu_sans", Verdana, "Droid Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $text-content-vertical-rhythm * 3;
  margin-bottom: $text-content-vertical-rhythm;
  font-family: "dejavu_sans", Verdana, "Droid Sans", sans-serif;
}

h1 {
  margin-bottom: $text-content-vertical-rhythm * 1.5;
  font-size: 2.25em;
  font-weight: bold;
}

h2 {
  font-size: 1.7em;
  font-weight: bold;
}

h3 {
  margin-top: $text-content-vertical-rhythm * 2;
  font-size: 1.2em;
  font-weight: bold;
}

h4 {
  margin-bottom: $text-content-vertical-rhythm;
  font-size: 1.2em;
  font-weight: normal;
}

h5 {
  margin-bottom: $text-content-vertical-rhythm;
  font-size: 1em;
  font-weight: bold;
}

h6 {
  margin-bottom: $text-content-vertical-rhythm;
  font-size: 1em;
  font-weight: normal;
}

p {
  margin-bottom: $text-content-vertical-rhythm;
  font-size: $text-content-font-size;
  line-height: $text-content-line-height;
}
